.navbar {
  background-color: #3a3a3a;
  padding: 12px 3%;
  font-weight: bold;
  position: relative;

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      display: flex;
      align-items: center;
      color: #f1c40f;
      font-size: 22px;

      &::before {
        content: "";
        display: inline-block;
        background-image: url('/favicon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        padding-bottom: 8px;
      }
    }

    .menu {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: 20px;

      .menu-item {
        color: #fff;
        font-size: 16px;
        margin-left: 15px;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;        
          
        a {
          text-decoration: none;
          color: inherit;
          display: block;
        }

        .active-link {
          color: #f1c40f;
        }

        &:hover {
          background-color: #f1c40f;
          color: #3a3a3a;

          .active-link {
            color: #fff;
          }
        }
      }

      
      @media (max-width: 768px) {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #3a3a3a;
        z-index: 1000;
        margin-left: 0;

        &.open {
          display: flex;
        }

        .menu-item {
          margin-left: 0;
          text-align: center;
          padding: 16px;
          width: 100%;
          box-sizing: border-box;
          border-radius: 0;
          border-top: 1px solid #555;

          .active-link {
            color: #f1c40f;
          }

          &:hover {
            background-color: #f1c40f;
            color: #3a3a3a;
            border-radius: 0;
          }
        }
      }
    }
    
    .menu-toggle {
      display: none;
      background: none;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }

      &:active svg {
        color: #f1c40f;
      }
    }
  }
}