$movie-primary-color: #f1f5f9;
$movie-secondary-color: #cea811;
$movie-tertiary-color: #3a3a3a;
$movie-quaternary-color: #b8950d;

$movie-primary-bg-color: $movie-tertiary-color;
$movie-secondary-bg-color: $movie-primary-color;
$movie-tertiary-bg-color: $movie-secondary-color;
$movie-quaternary-bg-color: $movie-quaternary-color;
$movie-quinquenary-bg-color: #1d1e1e;

$movie-font-size-s: 16px;
$movie-font-size-m: 18px;
$movie-font-size-l: 22px;
$movie-font-size-xl: 24px;
