$movie-primary-color: #fff;
$movie-secondary-color: #f1c40f;
$movie-tertiary-color: #3a3a3a;

$movie-primary-bg-color: $movie-tertiary-color;
$movie-secondary-bg-color: #555;

$movie-font-size-s: 16px;
$movie-font-size-m: 18px;
$movie-font-size-l: 22px;
$movie-font-size-xl: 24px;
